<header>
	<div class="title"><img style="margin-left:700px;height:100px;" src="assets/img/title.png"></div>	

     <div style="background-color: lightgreen;">
    <ul class="nav nav-pills menu_simple tab">      
      <li><a    [routerLink]="['find']">Find Ride</a></li>
      <li><a   [routerLink]="['offer']">Offer Ride</a></li>
      <li><a   [routerLink]="['register']">Register</a></li>            
      <li><a   [routerLink]="['contact']">Contact Us</a></li>            
    </ul>
        
  </div>  

</header>

<div>
    <router-outlet></router-outlet>
</div>
